@import "tailwindcss";

/* disable text selection and iOS long-press menu */
* {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

input, textarea {
  -webkit-user-select: text;
  user-select: text;
}
